.card {
    width: 400px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(39, 40, 43, 0.37);
    backdrop-filter: blur(3px);
    border-radius: 6px;
    padding: 40px;
}

@media only screen and (max-width: 900px) {
    .card {
        width: calc(100% - 80px);
        background: transparent;
        box-shadow: none;
    }
}
